<% @title = "My Settings" %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= hidden_field_tag 'isdirty', '1' %>

<%= form_tag update_settings_user_path(current_user), :method => :post, id: 'email_settings', class: 'form-horizontal' do %>
  <div class="control-group">
    <div class="controls">
      <%= check_box_tag 'email[send_email]', '1', current_user.email_on?(:send_email) %> <%= 'Receive Emails' %>
    </div>
  </div>

  <div class="form-actions">
    <% form_name = "email_settings" %>
    <%= link_to "Save Settings", '#', class: 'btn btn-primary', data: { object: 'settings-save', target: "##{form_name}" } %>
  </div>
<% end %>
