<% @title = "My Settings" %>
<h1><%= @title %></h1>

<%= form_tag update_settings_user_path(current_user), :method => :post, :id => 'email_settings' do %>
  <fieldset>
    <legend>Email Notifications</legend>
    <div class="field">
      <label>Emails</label><br />
      <%= check_box_tag 'email[send_email]', '1', current_user.email_on?(:send_email) %> <%= information('Receive Emails') %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = "email_settings" %>
    <%= link_to_function image_tag('icons/tick.png', :alt => '') + "Save Settings", "$('##{form_name}').submit();", :class => "button positive" %>
  	<br />
  </div>
<% end %>