<%= form_for(@downloader) do |f| %>
  <% if @downloader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@downloader.errors.count, "error") %> prohibited this downloader from being saved:</h2>

      <ul>
      <% @downloader.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :files %><br />
    <%= f.text_area :files %>
  </div>
  <div class="field">
    <%= f.label :trackers %><br />
    <%= f.text_area :trackers %>
  </div>
  <div class="field">
    <%= label 'target', 'file_name', 'Target file name' %><br />
    <%= text_field_tag :target_file_name, @downloader.torrent_file.blank? ? '' : File.basename(@downloader.torrent_file.path.split('_')[0..-3].join('_')) %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
