<%= form_for(@downloader) do |f| %>
  <% if @downloader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@downloader.errors.count, "error") %> prohibited this downloader from being saved:</h2>

      <ul>
      <% @downloader.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :files %><br />
      <%= f.text_area :files %>
    </div>
    <div class="field">
      <%= label 'target', 'file_name', 'Target file name' %><br />
      <%= text_field_tag :target_file_name, @downloader.simple_executable_file.blank? ? '' : File.basename(@downloader.simple_executable_file.path.split('_')[0..-4].join('_')) %>
    </div>
    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @downloader.new_record? ? 'new_downloader' : "edit_downloader_#{@downloader.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@downloader.new_record? ? "Create Downloader" : "Update Downloader"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
    <br />
  </div>
<% end %>
