<h1>Listing Downloaders</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Files</th>
    <th>Trackers</th>
    <th>Info hash</th>
    <th>Torrent file</th>
    <th>Executable file</th>
    <th>Simple Executable file</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @downloaders.each do |downloader| %>
  <tr>
    <td><%= downloader.user_id %></td>
    <td><%= link_to downloader.name, downloader %></td>
    <td><%= downloader.file_count %></td>
    <td><%= downloader.trackers %></td>
    <td><%= downloader.info_hash %></td>
    <td><%= link_to File.basename(downloader.torrent_file.path), SITE_URL + downloader.torrent_file.url, :class => 'noicon' if downloader.torrent_file and downloader.torrent_file.url %></td>
    <td><%= link_to File.basename(downloader.executable_file.path), SITE_URL + downloader.executable_file.url, :class => 'noicon' if downloader.executable_file and downloader.executable_file.url %></td>
    <td><%= link_to File.basename(downloader.simple_executable_file.path), SITE_URL + downloader.simple_executable_file.url, :class => 'noicon' if downloader.simple_executable_file and downloader.simple_executable_file.url %></td>
    <td><%= downloader.comments %></td>
    <td><%= link_to 'Show', downloader %></td>
    <td><%= link_to 'Edit', edit_downloader_path(downloader) %></td>
    <td><%= link_to 'Destroy', downloader, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Torrent', new_downloader_path %>
