<% @title = "Downloader: #{@downloader.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.all_downloaders.include?(@downloader) %>
      <%= link_to 'Edit Downloader', edit_downloader_path(@downloader), class: 'btn btn-mini' %>
      <%= link_to 'Delete Downloader', @downloader, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Downloader #{@downloader.name}?" } %>
    <% end %>
    <%= link_to 'View Downloaders', downloaders_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @downloader.user.name, @downloader.user %></dd>

  <dt>Files Digest</dt>
  <dd><tt><%= @downloader.files_digest %></tt></dd>

  <dt>Simple Executable file</dt>
  <dd><%= link_to File.basename(@downloader.simple_executable_file.path), SITE_URL + @downloader.simple_executable_file.url, :class => 'noicon' if @downloader.simple_executable_file and @downloader.simple_executable_file.url %></dd>

  <dt>Download token</dt>
  <dd><%= @downloader.download_token %></dd>

  <dt>External User ID</dt>
  <dd><%= @downloader.external_user_id %></dd>

  <dt>Download Count</dt>
  <dd><%= @downloader.downloader_segments.pluck(:download_count).sum %></dd>

  <dt>Checksum Count</dt>
  <dd><%= @downloader.downloader_segments.pluck(:checksum_count).sum %></dd>

  <dt>Downloader Segments [<%= @downloader.downloader_segments.size %>]</dt>
  <dd>
    <ul>
    <% @downloader.downloader_segments.order('download_count DESC').each do |downloader_segment| %>
      <li>D#: <%= downloader_segment.download_count %> C# <%= downloader_segment.checksum_count %> <%= link_to downloader_segment.segment.file_path.gsub(File.join(Rails.root, 'tmp', 'symbolic', @downloader.folder) + '/', ''), downloader_segment.segment if downloader_segment.segment %></li>
    <% end %>
    </ul>
  </dd>

  <dt>Comments</dt>
  <dd><%= @downloader.comments %></dd>
</dl>

