<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@segment, html: { class: 'form-horizontal' }) do |f| %>
  <% if @segment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@segment.errors.count, "error") %> prohibited this segment from being saved:</h2>

      <ul>
      <% @segment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_id, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file_path, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :file_path, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
