<%= render partial: 'contour/layouts/per_page', locals: { type: 'segments', object_count: @segments.total_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>File Path</th>
      <th>Download Count</th>
      <th>Checksum Count</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @segments.each do |segment| %>
    <tr>
      <td><%= segment.user_id %></td>
      <td><%= link_to segment.name, segment %></td>
      <td><%= link_to segment.file_path, segment %></td>
      <td><%= segment.downloader_segments.pluck(:download_count).sum %></td>
      <td><%= segment.downloader_segments.pluck(:checksum_count).sum %></td>
      <td>
        <%= link_to 'Edit', edit_segment_path(segment), class: 'btn btn-mini' %>
        <%= link_to 'Destroy', segment, :method => :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Segment #{segment.name}?" } %>
    </tr>
  <% end %>
</table>


<center><%= paginate @segments, theme: "contour" %></center>
