<% @title = 'Segments' %>
<h1><%= @title %></h1>

<% if current_user.system_admin? %>
  <%= link_to image_tag('contour/addfile.png', :alt => '') + "Create New Segment", new_segment_path, :class => 'button positive' %>
<% end %>

<%= form_tag segments_path, :method => :get, :remote => true, :id => "segments_search" do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'search', params[:search] %> <%= information %>
  <div id="segments"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>
<% end %>

<%= javascript_tag do %>
  $(function(){
    $.get($("#segments_search").attr("action"), $("#segments_search").serialize(), null, "script");
  });
<% end %>