<% @title = 'Segments' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Segment", new_segment_path, class: 'btn btn-primary btn-mini' if current_user.system_admin? %>
  </h1>
</div>

<%= form_tag segments_path, method: :get, remote: true, id: "segments_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="segments"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
