<p>
  <b>User:</b>
  <%= @segment.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @segment.name %>
</p>

<p>
  <b>File Path:</b>
  <%= @segment.file_path %>
</p>

<p>
  <b>Download Count</b>
  <%= @segment.downloader_segments.pluck(:download_count).sum %>
</p>

<p>
  <b>Checksum Count</b>
  <%= @segment.downloader_segments.pluck(:checksum_count).sum %>
</p>

<p>
  <b>Downloaders [<%= @segment.downloaders.size %>]:</b>
  <ul>
  <% @segment.downloaders.each do |downloader| %>
    <%= link_to downloader.name, downloader %>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
