<p>
  <b>User:</b>
  <%= @segment.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @segment.name %>
</p>

<p>
  <b>Files:</b>
  <%= @segment.files %>
</p>

<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
