<% @title = "Segment: #{@segment.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.all_segments.include?(@segment) %>
      <%= link_to 'Edit Segment', edit_segment_path(@segment), class: 'btn btn-mini' %>
      <%= link_to 'Delete Segment', @segment, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Segment #{@segment.name}?" } %>
    <% end %>
    <%= link_to 'View Segments', segments_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @segment.user_id %></dd>

  <dt>File Path</dt>
  <dd><%= @segment.file_path %></dd>

  <dt>Download Count</dt>
  <dd><%= @segment.downloader_segments.pluck(:download_count).sum %></dd>

  <dt>Checksum Count</dt>
  <dd><%= @segment.downloader_segments.pluck(:checksum_count).sum %></dd>

  <dt>Downloaders [<%= @segment.downloaders.size %>]</dt>
  <dd>
    <ul>
    <% @segment.downloaders.each do |downloader| %>
      <%= link_to downloader.name, downloader %>
    <% end %>
    </ul>
  </dd>
</dl>
